@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(207, 158, 109);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 900;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #151965;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.8s ease;
}

a.active,
a:hover {
  background: #ddbea9;
}



.wrapper {
  width: 100%;
}

.input-container {
  background-color: #dccca8;
  border: 1px solid #dccca8;
  width: 400;
  margin: auto;
  margin-top: 200px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
#submit{
	border:2px solid #dccca8;
	color:#070D0D;
  padding:.3rem 0rem .3rem 0rem;
}